<div class="form-container">
    <h2>Apólice de Seguro</h2>
  
    <form (ngSubmit)="calcularApolice()">
      <div>
        <label for="nome">Nome do Segurado:</label>
        <input type="text" id="nome" [(ngModel)]="nomeSegurado" name="nomeSegurado" required />
      </div>
  
      <div>
        <label for="sexo">Sexo:</label>
        <select id="sexo" [(ngModel)]="sexo" name="sexo" required>
          <option value="">Selecione</option>
          <option value="masculino">Masculino</option>
          <option value="feminino">Feminino</option>
        </select>
      </div>
  
      <div>
        <label for="idade">Idade:</label>
        <input type="number" id="idade" [(ngModel)]="idade" name="idade" required />
      </div>
  
      <div>
        <label for="valorAutomovel">Valor do Automóvel:</label>
        <input type="number" id="valorAutomovel" [(ngModel)]="valorAutomovel" name="valorAutomovel" required />
      </div>
  
      <button type="submit">Calcular Apólice</button>
    </form>
  
    <!-- Exibir o valor da apólice calculada -->
    <div *ngIf="valorApolice !== null">
      <h3>Valor da Apólice: {{ valorApolice | currency:'BRL' }}</h3>
    </div>
  </div>
  